{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ページのタイトル{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'area.css' %}">
    <link rel="stylesheet" href="{% static 'css/*genre.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'search_view' %}">HOME</a></li>
                <li><a href="{% url 'product_create' %}">自炊</a></li>
                <li><a href="{% url 'product_list' %}">LIST</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
