{% extends 'base.html' %}

{% block title %}食事検索ページ{% endblock %}

{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/meal_planner.css' %}">



<body>
    <main>
        <h2>自炊</h2>
        <section id="product-form">
            <div class="inventory-check">
                <div class="inventory-section card p-4 mb-4">
                    <h3 class="text-left">冷蔵庫の中にあるものは？</h3>
                    <ul class="row list-unstyled">
                        <li class="col-md-4 text-center mb-3"><a href="#" class="btn btn-outline-primary a-100">野菜類</a></li>
                        <li class="col-md-4 text-center mb-3"><a href="#" class="btn btn-outline-primary a-100">0000</a></li>
                        <li class="col-md-4 text-center mb-3"><a href="#" class="btn btn-outline-primary a-100">0000</a></li>
                        <li class="col-md-4 text-center mb-3"><a href="#" class="btn btn-outline-primary a-100">0000</a></li>
                        <li class="col-md-4 text-center mb-3"><a href="#" class="btn btn-outline-primary a-100">0000</a></li>
                        <li class="col-md-4 text-center mb-3"><a href="#" class="btn btn-outline-primary a-100">0000</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</body>
{% endblock %}
